body {
    font-family: DejaVu Sans Mono, monospace;
    font-size: xx-large;
}

.container {
    display: flex;
    justify-content: space-between;
}


header {
    list-style: none;
    background-color: black;
    color: white;
    padding: 15px;
}
article {
    background-color: #791f87;
    flex-grow: 1;
    padding: 15px;
}

aside {
    background-color: #55165e;
    flex-grow: 0.5;
}

footer {
    padding: 15px;
}
footer a {
    text-decoration: none;
}